header {
    background-color: #266894;
    height: 70px;
    border-radius: 0px 0px 25px 25px ;
    width: 80vw;
    margin: auto;
    padding-left: 10px;

}
.head a {
    text-decoration: none;
    font-size: 28px;
    font-weight: 600;
    color: aliceblue;
    line-height: 70px;
    margin-left: 10px;
}
.head img {
    margin-top: -10px;
}


@media screen and (max-width: 770px) {
    header{
        width: 100%;
        border-radius: 0px ;

    }
}